*{/* UNIVERSAL BYPASS */
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
  }

body {}

header{
    background: #1F2937;
    padding: 20px 90px;
}

footer{}

ul {
    list-style-type: none;
    padding: 8px;
  }

a{
    text-decoration: none;
    color: inherit;
  }

h1 {
    color:#F9FAF8;
    font-weight: 800;
    font-size: 48px;
}

img {
    width: 150px;
    height: auto;
}

img.big {
    width: 300px;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.link {
    display: flex;
    justify-content: space-between;
    width: 300px;
    gap: 25px;
}

.hero {
    display: flex;
    align-items: center;
}
.call {
    background-color: #3882F6;
}

.footer {}

.quote {
    font-style: oblique;
    background: #e5e7eb;
}

.subtext{}

/* .fakeimg {
    display:flex;
    flex: 1 0 auto;
    color: #F9FAF8;
    background-color: #6d747d;
    padding: 45px;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 500px;
    padding: 0;
    margin: auto;
} */

.box{
    display: flex;
    flex: 1 1 auto;
    /* justify-content: center; */
}

.break{
    flex-basis: 100%;
    height: 0;
}

#info-header {
    font-weight: 800;
}

button{
    display: flex;
    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 17px;
    font-family: Georgia;
    border-radius: 10px;
    padding: 8px 25px;
    border: 2px solid #F9FAF8;
}

.subtext, .link {
    font-size: 18px;
    color: #E5E7EB;
}

.hero button {
    border: 0px none #3882F6;
    justify-content: center;
}

.hero, .footer {
    background: #1F2937;
}

.quote, #info-header {
    color: #1F2937;
    font-size: 36px;
}
