*{/* UNIVERSAL MARGIN BYPASS */
    margin: 0;
    padding: 0 ;
  }

ul {
    list-style-type: none;
    display: flex;
    padding: 8px;
  }

a{
    text-decoration: none;
    color: inherit;
  }

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.link {
    gap: 25px;
}

.hero {

}

.big {
    color:#F9FAF8;
    font-weight: 800;
    font-size: 48px;
}

.call {
    background-color: #3882F6;
}

.footer {

}

.quote {
    font-style: oblique;
    background: #e5e7eb;
}

.subtext{

}

#info-header {
    font-weight: 800;
}

button{
    color: #F9FAF8;
    background-color: #3882F6;
    display: flex;
    border-radius: 10px;
    padding: 10px 25px;
    border: 2px solid #F9FAF8;
}

.subtext, .link {
    font-size: 18px;
    color: #E5E7EB;
}

.hero button {
    border-style: none;
}

.header, .hero, .footer {
    background: #1F2937;
}

.quote, #info-header {
    color: #1F2937;
    font-size: 36px;
}