*{/* UNIVERSAL MARGIN BYPASS */
    margin: 0;
    padding: 0 ;
  }

/* .header {

}
 */
.logo {
    font-size: 24px;
    color: #F9FAF8;
}
/* 
.link {

}

.hero {

}

.big {

}
 */
.call {
    background-color: #3882F6;
}
/* 
.footer {

} */

.quote {
    font-style: oblique;
    background: #e5e7eb;
}

/* .subtext{

} */

.header, .hero, .footer {
    background: #1F2937;
}

.big {
    color:#F9FAF8;
    font-weight: 800;
    font-size: 48px;
}

.subtext, .link {
    font-size: 18px;
    color: #E5E7EB;
}

button{
    background-color: #3882F6;
    border-color: #E5E7EB;
}

.hero button {
    border-style: none;
}

.quote, #info-header {
    color: #1F2937;
    font-size: 36px;
}

#info-header {
    font-weight: 800;
}